body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #66BFBF;
  margin-top: 50px auto 0;
  font-size: 5.625rem;
  /* 16px = 100% = 1em, 90px 90/16=5.625 */
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.robot{
  width: 15%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.surename {
  color: #EAF6F6;
  padding: 20px 0;
}

.contact-me {
  margin: 100px auto;
  font-size: 0.75 rem;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto 40px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}



.btn {
  background-color: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #119999);
  background-image: -moz-linear-gradient(top, #11CDD4, #119999);
  background-image: -ms-linear-gradient(top, #11CDD4, #119999);
  background-image: -o-linear-gradient(top, #11CDD4, #119999);
  background-image: linear-gradient(to bottom, #11CDD4, #119999);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

.btn:hover {
  border: solid #337FED 1px;
  background-color: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #2BC4AD);
  background-image: -moz-linear-gradient(top, #1E62D0, #2BC4AD);
  background-image: -ms-linear-gradient(top, #1E62D0, #2BC4AD);
  background-image: -o-linear-gradient(top, #1E62D0, #2BC4AD);
  background-image: linear-gradient(to bottom, #1E62D0, #2BC4AD);
  border-radius: 8px;
  text-decoration: none;
}
