body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 150%;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem; /* 16px = 100% = 1em, 90px 90/16=5.625 */
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
